body{
    background-color: #faf2fd;
    font-family: HELVETICA;
    color: #4c2358;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 10px;
}
.hoverc1 {
    background-color: #ffffff ;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    
}