*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px; 
}

.form-container{
    width: 100%;
}
.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-toggle button {
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.form {
    display: none;
    flex-direction: column;
}
.form.active {
    display: flex;
}
.form h2{
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.form button  {
    padding: 10px;
    background: #4f1f58;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}