 a {
        color: white;
        text-decoration: none;
            }
            .hoverc{
                background-color: rgb(85, 31, 86);
                padding: 20px;
                border-radius: 10px;
                margin: 0 20px;
            }
            .hoverc:hover{
                 background-color: #25042f;
            }
   body{
    background-color: #faf2fd;
    font-family: HELVETICA;
    color: #4c2358;
}
            h1{
                text-align: center;
            }
            .main{
                text-align: center;
            }